.aboutus_hero {
    margin-top: 142px;
    position: relative;
    margin-inline: 50px;

    .card {
        position: relative;

        .image {
            mask-image: url('/image/mask/12.svg');
            mask-repeat: no-repeat;
            mask-size: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            // height: 708px;
            object-fit: cover;
            aspect-ratio: 1 / 0.5;
            width: 100%;
            background-position: center center;
        }

        .info {
            @media screen and (max-width:1440px) {
                top: 18.2rem;
            }

            @media screen and (max-width:1024px) {
                top: 13.2rem;
                left: 0;
            }

            @media screen and (max-width:768px) {
                top: 9rem;
                left: -14px;
            }

            @media screen and (max-width:425px) {
                width: 100%;
                text-align: center;
                left: 0;
            }

            @media screen and (max-width:375px) {
                top: 8rem;
            }

            @media screen and (max-width:320px) {
                top: 6rem;
            }

            position: absolute;
            left: -14px;
            top: 23.2rem;

            .title {
                @media screen and (max-width:1440px) {
                    font-size: 30px;
                }

                @media screen and (max-width:1024px) {
                    font-size: 16px;
                }

                font-size: 38px;
                color: $main2;
                margin-bottom: 7px;
            }

            .subtitle {
                @media screen and (max-width:1440px) {
                    font-size: 30px;
                }

                @media screen and (max-width:1024px) {
                    font-size: 16px;
                }

                font-size: 37px;
                font-weight: 400;
            }
        }

        .certificates {
            @media screen and (max-width:1440px) {
                bottom: 105px;
            }

            @media screen and (max-width:768px) {
                bottom: 50px;
            }

            @media screen and (max-width:425px) {
                bottom: 28px;
            }

            position: absolute;
            bottom: 35px;
            left: 35px;

            .icon {
                @media screen and (max-width:768px) {
                    font-size: 16px;
                }

                color: rgb(255, 255, 255);
                font-size: 42px;
                margin-right: 20px;
            }
        }
    }

}