.artificial_grass_hero {
    margin-top: 160px;

    .box {
        position: relative;

        .main_image {
            width: 100%;
            object-fit: none;
            border-radius: 15px;
            object-position: center top;
        }

        .info_box {
            position: absolute;
            width: 645px;
            bottom: 50%;
            right: 57.3%;
            transform: translate(50%, 50%);
            height: 100%;

            .title {
                color: #fff;
                position: absolute;
                left: 0;
                font-size: 38px;
                top: 12.5rem;

                p {
                    font-size: 37px;
                    font-weight: 200;
                    padding-top: 10px;
                }
            }

            >.link {
                color: $main2 !important;
                position: absolute !important;

                &.left {
                    @include link_btn(#ffffff, 17px 25px 17px 13px, 21px, 200, 12px, 17px);
                    bottom: 5rem;
                    left: 12.5rem;
                }

                &.right {
                    @include link_btn(#ffffff, 17px 13px 17px 25px, 21px, 200, 12px, 0);
                    right: -5px;
                    bottom: 15.5rem;

                    .icon {
                        margin-left: 17px
                    }
                }
            }

            .star {
                position: absolute;

                &.left {
                    left: 15.2rem;
                    bottom: 9.6rem;
                    transform: rotate(90deg);
                }

                &.right {
                    transform: rotate(180deg);
                    right: 1.3rem;
                    top: 3.5rem;
                }
            }

            .heart {
                position: absolute;
                left: 19.8rem;
                color: $red;
                background-color: #fff;
                padding: 14px 13px;
                border-radius: 50%;
                transform: rotate(343deg);
                bottom: 11.5rem;
            }
        }

    }
}