$main: #3DB178;
$main2: #0C6FCC;
$yellow: #FFBF00;
$black: #3D3C45;
$red: #EB4235;

$desc: #848484;
$desc2: #8B8B8B;
$desc3: #BCBCBC;
$desc4: #B9B9B9;
$desc5: #C9C9C9;
$desc6: #888888;
$desc7: #9D9D9D;
$desc8: #D8D8D8;
$desc9: #E2E2E2;
$desc10: #707070;
$desc11: #AFAFAF;

$border: #D9D9D9;
$border2: #CBCBCB;
$border3: #EAEAEA;
$border4: #D6D6D6;
$border5: #E3E3E3;
$border6: #E8E8E8;
$border7: #EDEDED;
$border8: #F2F2F2;
$border9: #D5D5D5;
$border10: #E5E5E5;


$bg: #FAFCFE;
$bg2: #e2e1e1;

$light_bg: #F4F9FD;
$light_bg2: #DAEAFA;
$light_bg3: #F5F9FD;


$transition: all .4s;