.guest_guide_hero {
    margin: 142px 50px 50px;
    position: relative;

    .image {
        mask-image: url('../image/mask/13.svg');
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        width: 100%;
        height: 754px;
        mask-size: 100%;
        background-image: url('../img/guest_guide/1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .link{
        color: $desc4;
        font-size: 40px;
        display: block;
        position: absolute;
        right: 50%;
        bottom: -25px;
        transform: translateX(50%) rotate(90deg);
    }
}