.distance_hero {
    margin-top: 150px;
    position: relative;
    margin-bottom: 80px;

    .main_card {
        position: relative;
        padding-inline: 30px;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0%;
            width: 100%;
            height: 100%;
            background-image: url('/image/mask/9.svg');
            background-size: contain;
            background-position: top;
            background-repeat: no-repeat;
            z-index: -1;
        }
    }


    .destination_distance {

        .top_title {
            color: $desc2;
            font-size: 12px;
            margin-bottom: 25px;
            font-weight: 100;
        }

        .link {
            display: flex;
            align-items: center;
            position: relative;

            .item {
                @include distance_item;

                +.item {
                    padding-right: 129px;
                }
            }
        }
    }

    .select_origin {
        margin-bottom: 80px;
        padding-top: 25px;
        position: relative;
        z-index: 4;

        >.title {
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 200;
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .box {
                display: flex;
                align-items: center;
                gap: 10px;
                flex: 1;
                width: 100%;
                overflow-x: auto;
                margin-left: 10px;

                &::-webkit-scrollbar {
                    display: none;
                }


                li {
                    background-color: #fff;
                    padding: 10px 14px;
                    border-radius: 7px;
                    transition: all 0.2s;
                    min-width: 85px;
                    text-align: center;
                    cursor: pointer;
                    min-width: 130px;

                    &:hover,
                    &.active {
                        background-color: $main ;
                        color: #fff;

                        .dot {
                            border-color: #fff;

                            &::after {
                                background-color: #fff;
                            }
                        }
                    }

                    .dot {
                        @include dot($desc4);
                    }

                    .desc {
                        display: inline-block;
                        font-size: 20px;
                    }
                }
            }

            .link {
                @include link_btn($main2);
            }
        }
    }

    .distance_image {
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 200px;
            height: 250px;
            background: linear-gradient(223deg, #1c6ecc66, transparent);
            -webkit-filter: blur(146px);
            filter: blur(100px);
            z-index: -2;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 50%;
            width: 150px;
            height: 350px;
            background: linear-gradient(223deg, #fac104, transparent);
            -webkit-filter: blur(146px);
            filter: blur(146px);
            z-index: -2;
            transform: translateX(50%);
        }

        .image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            mask-image: url('/image/mask/8.svg');
            mask-size: 100%;
            -webkit-mask-repeat: no-repeat;
            width: 100%;
            height: 748px;
            mix-blend-mode: multiply;
        }

        .photographer {
            position: absolute;
            bottom: 100px;
            right: -40px;
            font-size: 22px;
            transform: rotate(270deg);

            .icon {
                font-size: 18px;
                margin-right: 5px;
            }
        }

        .share {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 16px 20px;
            position: absolute;
            top: 4px;
            right: 10px;
            font-size: 28px;

            .icon {
                color: $main2;
            }
        }

        .info {
            position: absolute;
            bottom: 6px;
            left: 0;
            text-align: center;
            background-color: #ffffff;
            border-radius: 10px;
            padding: 10px;

            .icon {
                color: $main;
                font-size: 35px;
            }

            .title {
                text-align: right;
                line-height: 2;
                margin-bottom: 5px;
                font-weight: 200;
                font-size: 22px;
            }

            .sub_title {
            }
        }
    }

    .distance_desc {
        padding-top: 30px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: -30px;
            left: 0;
            width: 200px;
            height: 250px;
            background: linear-gradient(223deg, #1c6ecc69, transparent);
            -webkit-filter: blur(146px);
            filter: blur(100px);
            z-index: -2;
        }

        .title {
            font-size: 28px;
            margin-bottom: 10px;
            font-weight: 200;
        }

        .desc {
            font-size: 19px;
            color: $desc2;
            line-height: 3.7;
            margin-bottom: 40px;
        }

        .link {
            @include link_btn($main2)
        }
    }
}