.further_desc_distance {
    margin-bottom: 200px;

    .distance_box {
        position: sticky;
        top: 130px;
        margin-top: -115px;

        .info {
            background-color: #fff;
            border-radius: 12px;
            position: relative;
            padding: 25px;
            padding-bottom: 40px;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 200px;
                height: 250px;
                background: linear-gradient(223deg, #fac104a1, transparent);
                -webkit-filter: blur(146px);
                filter: blur(100px);
                z-index: -2;
            }

            &::after {
                content: "";
                position: absolute;
                top: 85px;
                left: 0;
                width: 200px;
                height: 250px;
                background: linear-gradient(223deg, #1c6ecc69, transparent);
                -webkit-filter: blur(146px);
                filter: blur(100px);
                z-index: -2;
            }

            .tabs {
                display: flex;
                align-items: center;
                justify-content: space-between;
                text-align: center;
                padding-bottom: 25px;
                margin-bottom: 20px;
                border-bottom: 1px solid $border3;

                li {
                    color: $desc4;
                    transition: $transition;
                    cursor: pointer;

                    &.active,
                    &:hover {
                        color: $main2;
                    }

                    .icon {
                        font-size: 35px;
                        margin-bottom: 10px;
                        display: block;
                    }

                    .title {
                        font-size: 19px;
                    }
                }
            }

            .contens {
                .item {
                    display: none;

                    &.active {
                        display: block;
                    }

                    .top {
                        margin-bottom: 30px;
                        text-align: center;

                        .num {
                            font-size: 54px;
                            color: $main;
                        }

                        .title {
                            font-size: 18px;
                        }
                    }

                    .info {
                        margin-bottom: 70px;

                        li {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            &:not(:last-child) {
                                padding-bottom: 30px;
                            }

                            .rigth {
                                display: flex;
                                align-items: center;

                                .dot {
                                    @include dot($main2);
                                    width: 16px;
                                    height: 16px;
                                    margin-left: 8px;
                                    border-width: 2px;

                                    &::after {
                                        width: 8px;
                                        height: 8px;
                                    }
                                }

                                .square {
                                    border: 2px solid $main;
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 4px; 
                                    position: relative;
                                    margin-left: 8px;


                                    &::after {
                                        content: "";
                                        position: absolute;
                                        right: 50%;
                                        bottom: 50%;
                                        transform: translate(50%, 50%);
                                        width: 8px;
                                        height: 8px;
                                        background-color: $main;
                                        border-radius: 2px;
                                    }
                                }

                                .title {
                                    font-size: 17px;
                                }
                            }

                            .interval {
                                color: $main2;
                                font-size: 23px;
                            }
                        }
                    }

                    .link {
                        @include link_btn($main2);
                        margin-right: auto;
                        display: table;
                    }
                }
            }
        }
    }

    .distance_info {
        .map {
            width: 100%;
            margin-bottom: 20px;
        }

        .top {
            background-color: $light_bg3;
            border-radius: 12px;
            padding: 25px 20px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 21px;
            }

            .link {
                color: $main2;
                font-size: 20px;

                .icon {
                    font-size: 21px;
                    font-weight: bold;
                }
            }
        }

        .desc {
            color: $desc2;
            line-height: 90px;
            font-size: 20px;
        }
    }
}