.home_facility {
    position: relative;
    padding: 80px 0;
    margin-bottom: 100px;

    @include facility;
    @include after_bg;
    @include before_bg($light_bg);

    &::after {
        height: 50%;
    }

    &::before {
        height: 40%;
    }
}