.index_hero {
    position: relative;
    padding: 95px 0 200px 0;
    // padding: 95px 146px 200px 0;
    margin: 142px 0 50px 0;

  @include after_bg;

  .right {
    display: block;
    position: relative;
    z-index: 5;
    flex: 0 0 auto;
    width: 33.33333333%;

    .top_title {
      color: $desc2;
      font-size: 13px;
      margin-bottom: 25px;
      font-weight: 200;
    }

    .info_top {
      margin-bottom: 75px;

      .title {
        color: $black;
        font-size: 51px;
        margin-bottom: 10px;
      }

            .desc {
                color: $desc2;
                font-size: 13px;
                line-height: 38px;
                font-weight: 100;
            }
        }


    .link {
      display: flex;
      align-items: center;
      position: relative;

      &:hover {
        > .icon {
          left: -10px;
          color: $main2;
        }
      }

      > .icon {
        color: $desc4;
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        left: 0;
        transition: $transition;
        font-size: 33px;
      }
    }

    .weather_conditions {
      margin-bottom: 50px;

      .link {
        .item {
          @include weather_item;

          + .item {
            margin-right: 129px;
          }
        }

        > .icon {
        }
      }
    }

    .destination_distance {
      .link {
        .item {
          @include distance_item;

          + .item {
            padding-right: 129px;
          }
        }
      }
    }
  }

  .product_items {
    display: flex;
    white-space: normal;
    overflow-x: auto;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 80px;

    &::-webkit-scrollbar {
      display: none;
    }

    &.active {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
    }

    .item {
      width: 513px;
      height: 665px;
      position: relative;
      overflow: hidden;
      flex-shrink: 0;
      margin-left: 35px;
      border-radius: 15px;
      z-index: 6;

      &:hover {
        .visitors {
          .bottom {
            .images {
              .image {
                &:nth-child(1) {
                  transform: translateX(-26px);
                }

                &:nth-child(2) {
                  transform: translateX(-13px);
                }
              }
            }

            .num {
              right: 33px !important;
            }
          }
        }

        .info {
          bottom: 30px;
        }
      }

            &::after {
                content: "";
                background: linear-gradient(#0000001f, #3D3C45);
                position: absolute;
                width: 100%;
                height: 24%;
                right: 0;
                bottom: 0;
                border-radius: 15px;
            }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -200px;
        background: linear-gradient(#00000038, #3d3c4500);
        width: 100%;
        height: 170px;
        transform: rotate(278deg);
      }

      > .image {
        object-fit: cover;
        width: 100%;
        border-radius: 15px;
        height: 100%;
      }

      .visitors {
        position: absolute;
        top: 15px;
        left: 15px;

        @include visitors;
      }

      .reaction {
        position: absolute;
        top: 100px;
        left: 10px;

        .link {
          display: block;
          position: relative;
          z-index: 2;
          text-align: center;
          color: #fff;
          margin-bottom: 17px;

          .icon {
            display: block;
            font-size: 22px;
            margin-bottom: 8px;
          }

          .num {
            font-size: 19px;
            font-feature-settings: "ss01";
          }
        }
      }

      .info {
        position: absolute;
        bottom: -15px;
        padding: 0 25px;
        transition: $transition;

        .title {
          font-size: 19px;
          color: #fff;
          position: relative;
          z-index: 1;
          margin-bottom: 13px;
          font-weight: 400;
        }

        .desc {
          color: #fff;
          font-size: 15px;
          line-height: 1.7;
          font-weight: 100;
        }
      }
    }
  }

  .scroll_down {
    position: absolute;
    bottom: -7px;
    right: 50%;
    transform: rotate(-90deg) translateY(50%);
    color: $desc4;
    font-size: 40px;
    cursor: pointer;
  }

    .scroll_action {
        position: absolute;
        bottom: 7px;
        left: 70px;

    .link {
      color: $main2;
      font-size: 20px;
      font-weight: 100;
      transition: $transition;

      &:hover {
        color: $main;
      }
    }

    .icon {
      color: $desc2;
      font-size: 35px;
      margin-right: 12px;
      cursor: pointer;
      transition: $transition;

      &:hover {
        color: $main2;
      }
    }
  }

    @media screen and (max-width:1719px) {
        .right {
            width: 40.333333%;
        }
    }

    @media screen and (max-width:1439px) {
        margin-top: 110px;
        padding-top: 50px;

    .right {
      width: 70%;
      flex: 0 0 auto;
      text-align: center;
      margin-inline: auto;

      .info_top {
        margin-bottom: 55px;

                .title {
                    font-size: 45px;

                }
            }

      .weather_conditions {
        margin-bottom: 45px;

        .link {
          .item + .item {
            margin-right: 110px;
          }

          .item {
            .icon {
              font-size: 33px;
              margin-bottom: 13px;
            }

            p {
              &.day {
                font-size: 14px;
              }

              &.num {
                font-size: 25px;

                span {
                  font-size: 15px;
                  margin-left: 10px;

                  &::before {
                    left: -3px;
                    top: -2px;
                    width: 4px;
                    height: 4px;
                  }
                }
              }
            }
          }
        }
      }

      .link {
        justify-content: center;

        > .icon {
          font-size: 27px;
          left: 30px;
        }
      }

      .destination_distance {
        .top_title {
          margin-bottom: 15px;
        }
      }
    }

        .product_items {
            position: relative;
            padding-right: 0 !important;

      .item {
        width: 400px;
        height: 500px;
        margin-left: 20px;

        .reaction {
          .link {
            margin-bottom: 12px;

            .icon {
              font-size: 20px;
            }

                        .num {
                            font-size: 15px;
                        }

                    }
                }

        .info {
          .title {
            font-size: 17px;
            margin-bottom: 10px;
          }

                    .desc {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    @media screen and (max-width:1023px) {
        .right {
            width: 90%;
        }

    .product_items {
      .item {
        width: 350px;
        height: 450px;
        margin-left: 15px;
      }
    }
  }
}
