.bakery_hero {
    @media screen and (max-width: 768px) {
        margin-top: 130px;
    }

    margin-top: 200px;
    overflow: hidden;
    margin-bottom: 100px;

    .box {
        width: max-content;
        margin-inline: auto;
        max-width: 100%;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -8rem;
            left: -17rem;
            width: 100%;
            height: 100%;
            background: linear-gradient(223deg, #fac10430, transparent);
            -webkit-filter: blur(146px);
            filter: blur(150px);
            z-index: -2;
        }

        .main_image {
            position: relative;

            .image {
                width: 100%;
            }

            .float_image {
                position: absolute;

                &.right {
                    @media screen and (max-width:768px) {
                        right: 4.7rem;
                        top: 0.3rem;
                    }

                    @media screen and (max-width: 425px) {
                        right: 3rem;
                        width: 18%;
                    }

                    @media screen and (max-width: 320px) {
                        right: 2.5rem;
                    }

                    right: 9.7rem;
                    top: 3.3rem;
                }

                &.left {
                    @media screen and (max-width:768px) {
                        bottom: 2.3rem;
                        left: 2.9rem;
                    }

                    @media screen and (max-width: 425px) {
                        bottom: 1.6rem;
                        left: 3.9rem;
                        width: 14%;
                    }

                    @media screen and (max-width: 375px) {
                        bottom: 1.35rem;
                        left: 3.5rem;
                    }

                    @media screen and (max-width: 320px) {
                        bottom: 1.12rem;
                        left: 2.9rem;
                    }

                    bottom: 3.3rem;
                    left: 8.9rem;
                }
            }
        }

        >.title {
            @media screen and (max-width:1024px) {
                font-size: 22px;
                left: 0;
            }

            @media screen and (max-width: 768px) {
                left: -25px;
            }

            @media screen and (max-width: 425px) {
                left: 0;
                width: 100%;
                text-align: center;
                bottom: 10rem;
            }

            color: $main2;
            font-size: 38px;
            position: absolute;
            left: -6.7rem;
            bottom: 19rem;

            p {
                @media screen and (max-width:1024px) {
                    font-size: 22px;
                }

                color: $black;
                padding-top: 10px;
                font-size: 37px;
            }
        }

        .audio_desc {
            @media screen and (max-width: 425px) {
                width: 95%;
                margin-top: 140px;
            }

            @include audio_desc;
            width: 563px;
            background-color: #ffffff;
            border-radius: 13px;
            padding: 15px 20px 0px;
            margin-top: -21px;
            margin-inline: auto;
            position: relative;
        }

        >.stars {
            position: absolute;

            &.right {
                top: -20px;
                right: 6rem;
                transform: rotate(180deg);
                z-index: -1;
            }

            &.left {
                bottom: 4.9rem;
                left: 5.5rem;
            }
        }

        >.link {
            color: $main2 !important;
            position: absolute !important;

            &.left {
                @media screen and (max-width:768px) {
                    top: 7.5rem;
                    left: 7.8rem;
                }

                @media screen and (max-width:425px) {
                    display: none;
                }

                @include link_btn(#ffffff, 17px 25px 17px 13px, 21px, 200, 12px, 17px);
                top: 12.5rem;
                left: 9.8rem;
            }

            &.right {
                @media screen and (max-width:425px) {
                    display: none;
                }

                @include link_btn(#ffffff, 17px 13px 17px 25px, 21px, 200, 12px, 0);
                bottom: 10rem;
                right: 10rem;

                .icon {
                    margin-left: 17px
                }
            }
        }
    }

    .hero_desc {
        font-size: 20px;
        color: #B9B9B9;
        line-height: 90px;
        margin-top: 45px;
        margin-inline: auto;
        text-align: justify;
    }
}