.boating_hero {
    margin-top: 105px;
    overflow: hidden;

    .box {
        @media screen and (max-width: 1024px) {
            width: 100%;
        }

        width: 1309px;
        margin-inline: auto;

        .hero_info {
            @media screen and (max-width: 768px) {
                margin-bottom: 165px;
            }

            @media screen and (max-width: 375px) {
                margin-bottom: 225px;
            }

            position: relative;
            transform: translateX(10px);

            .main_image {
                @media screen and (max-width: 1024px) {
                    width: 100%;
                }
            }

            &::after {
                content: "";
                position: absolute;
                right: -12rem;
                bottom: -8rem;
                width: 100%;
                height: 100%;
                background: linear-gradient(270deg, #1c6ecc26, transparent);
                -webkit-filter: blur(146px);
                filter: blur(150px);
                z-index: 1;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: -8rem;
                left: -17rem;
                width: 700px;
                height: 100%;
                background: linear-gradient(223deg, #fac10426, transparent);
                -webkit-filter: blur(146px);
                filter: blur(150px);
                z-index: 1;
            }

            .main_image {}

            >.title {
                @media screen and (max-width: 1024px) {
                    top: 25.4rem;
                }

                @media screen and (max-width: 768px) {
                    top: 23.4rem;
                    left: 0;
                    width: 100%;
                    text-align: center;
                }

                @media screen and (max-width: 425px) {
                    top: 14.4rem;
                    font-size: 22px;
                }

                color: $main2;
                font-size: 38px;
                position: absolute;
                left: 9.3rem;
                top: 21.4rem;
                z-index: 2;

                p {
                    @media screen and (max-width: 425px) {
                        font-size: 22px;
                    }

                    color: $black;
                    padding-top: 10px;
                    font-size: 37px;
                }
            }

            >.link {
                color: $main2 !important;
                position: absolute !important;
                z-index: 2;

                &.left {
                    @media screen and (max-width: 1024px) {
                        left: 0;
                    }

                    @media screen and (max-width: 425px) {
                        display: none;
                    }

                    @include link_btn(#ffffff, 17px 25px 17px 13px, 21px, 200, 12px, 17px);
                    bottom: 16rem;
                    left: 23rem;
                }

                &.right {
                    @media screen and (max-width: 1024px) {
                        right: 0;
                    }

                    @media screen and (max-width: 425px) {
                        display: none;
                    }

                    @include link_btn(#ffffff, 17px 13px 17px 25px, 21px, 200, 12px, 0);
                    top: 21.7rem;
                    right: 25.3rem;

                    .icon {
                        margin-left: 17px
                    }
                }
            }

            .audio_desc {
                @media screen and (max-width: 1024px) {
                    bottom: 0;
                }

                @media screen and (max-width: 768px) {
                    bottom: -130px;
                }

                @media screen and (max-width: 425px) {
                    bottom: -175px;
                    width: 100%;
                    right: 10px;
                    transform: translateX(0);
                }

                @media screen and (max-width: 375px) {
                    bottom: -210px;
                }

                @media screen and (max-width: 320px) {
                    bottom: -240px;
                }

                width: 563px;
                background-color: #ffffff;
                border-radius: 13px;
                padding: 15px 20px 0px;
                position: absolute;
                bottom: 6.4rem;
                right: 50%;
                transform: translateX(50%);
                @include audio_desc;
                z-index: 2;
            }

            >.heart {
                color: $red;
                position: absolute;
                background-color: #fff;
                padding: 14px 13px;
                border-radius: 50%;

                &.left {
                    transform: rotate(-32deg);
                    top: 17.8rem;
                    left: 26rem;
                }

                &.right {
                    transform: rotate(40deg);
                    top: 11.5rem;
                    right: 34.7rem;
                }
            }

            .stars {
                position: absolute;

                &.left {
                    left: 18.5rem;
                    bottom: 11rem;
                }

                &.right {
                    right: 31rem;
                    transform: rotate(180deg);
                    top: 7.4rem;
                }
            }
        }

        .hero_desc {
            font-size: 20px;
            color: $desc4;
            line-height: 90px;
        }
    }

}