.map_location {
    margin-bottom: 180px;

    .map_title {
        text-align: center;
        font-weight: 200;
        font-size: 23px;
        margin-bottom: 30px;

        .icon {
            color: $main2;
            font-size: 26px;
            margin-left: 5px;
        }
    }

    .image {
        width: 100%;
    }

    .actions {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 35px;
        margin-top: 50px;
        grid-gap: 80px;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .right {
                display: flex;
                align-items: center;

                .icon {
                    color: $main2;
                    font-size: 45px;
                }

                .info {
                    margin-right: 25px;

                    p {
                        font-size: 24px;

                        &.desc {}

                        &.title {
                            color: $main2;
                            font-weight: 200;
                        }
                    }
                }
            }

            >.icon {
                color: $desc4;
                font-size: 33px;
            }
        }
    }
}