.beach_desc {
    @media screen and (max-width: 425px) {
        padding-top: 65px;
    }

    padding-top: 150px;
    margin-bottom: 60px;
    position: relative;

    &::after {
        @media screen and (max-width: 768px) {
            right: 0;
            width: 100%;
        }

        content: "";
        position: absolute;
        top: 0;
        right: 20rem;
        width: 500px;
        height: 87%;
        background: linear-gradient(223deg, #fac10424, transparent);
        -webkit-filter: blur(146px);
        filter: blur(100px);
        z-index: -2;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 10rem;
        width: 590px;
        height: 50%;
        background: linear-gradient(223deg, #1c6ecc29, transparent);
        -webkit-filter: blur(146px);
        filter: blur(100px);
        z-index: -2;
    }

    .audio_desc {
        @media screen and (max-width: 425px) {
            width: 100%;
        }

        width: 500px;
        margin-inline: auto;
        @include audio_desc;


    }

    .main_desc {
        font-size: 20px;
        color: $desc4;
        line-height: 90px;
        margin-top: 65px;
        text-align: justify;
    }
}