.comments_holder {

    .comment_reactions {
        text-align: center;
        width: max-content;
        margin: 0 auto;
        position: relative;
        margin-bottom: 100px;

        &::after {
            content: "";
            position: absolute;
            top: 25px;
            right: 50%;
            width: 290px;
            height: 50px;
            background: linear-gradient(180deg, #1c6ecc8a, transparent);
            -webkit-filter: blur(146px);
            filter: blur(53px);
            z-index: -2;
            transform: translateX(50%);
        }

        .star {
            width: 391px;
            position: absolute;
            right: 50%;
            top: -11px;
            transform: translateX(50%);
            z-index: -1;
        }

        .top {
            display: flex;
            justify-content: center;
            width: max-content;
            margin: 0 auto;
            background-color: #ffffff;
            border-radius: 50px;
            padding: 12px 4px;
            margin-bottom: 45px;

            .item {
                margin: 0 14px;

                &:first-child {
                    color: $main;

                    .num {
                        margin-left: 8px;
                    }
                }

                &:last-child {
                    color: $main2;

                    .num {
                        margin-right: 8px;
                    }
                }

                .icon {
                    font-size: 60px;
                }

                .num {
                    font-size: 29px;
                    font-weight: 200;
                    display: inline-block;
                }
            }
        }

        >.desc {
            color: $desc4;
            font-size: 19px;
        }
    }

    .comment_actions {
        position: sticky;
        top: 140px;

        >.info {
            background-image: url('/image/mask/3.svg');
            background-size: cover;
            background-position: bottom;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            padding: 15px 20px;
            position: relative;
            padding-top: 25px;

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 50px;
                width: 250px;
                height: 450px;
                background: linear-gradient(1deg, #1c6ecc71, transparent);
                -webkit-filter: blur(146px);
                filter: blur(146px);
                z-index: -2;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                width: 350px;
                height: 350px;
                background: linear-gradient(223deg, #fac1047d, transparent);
                -webkit-filter: blur(146px);
                filter: blur(146px);
                z-index: -2;
            }

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 40px;

                .right {
                    display: block;

                    .title {
                        color: $main2;
                        font-weight: 300;
                        font-size: 19px;
                        margin-bottom: 7px;
                    }

                    .desc {
                        color: $desc4;
                        font-size: 19px;
                    }
                }

                .stars {

                    .icon {
                        color: $yellow;
                        margin-right: 5px;
                        font-size: 20px;
                    }

                    .num {
                        font-size: 19px;
                    }
                }
            }

            .user_stay {
                background-color: $light_bg;
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 15px;
                padding: 20px 55px;
                margin-bottom: 50px;

                .item {
                    text-align: center;

                    .num {
                        color: $main2;
                        font-size: 32px;
                        font-weight: 200;

                        span {
                            color: $desc4;
                            font-size: 11px;
                            transform: translate(4px, 4px);
                            display: inline-block;
                        }
                    }

                    .desc {
                        font-weight: 300;
                    }
                }
            }

            .comments_statistics {
                margin-bottom: 65px;

                .item {
                    display: flex;
                    align-items: center;
                    margin-bottom: 25px;

                    .title {
                        font-size: 19px;
                        width: 145px;
                    }

                    .range {
                        @include range_value(100%)
                    }

                    .range_value {
                        font-size: 17px;
                    }
                }
            }

            .bottom {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .title {
                    font-size: 22px;
                    font-weight: 200;
                }

                .action {
                    margin-left: 35px;

                    .link {
                        .icon {
                            font-size: 30px;
                            color: $main;

                            &.icon-dislike {
                                margin-right: 30px;
                                color: $main2;
                            }
                        }
                    }
                }
            }
        }
    }

    .user_comments {
        .item {
            @include user_comment_item;
        }
    }
}