.faq {
    margin-bottom: 100px;

    .faq_info {
        text-align: center;

        >.title {
            color: $main2;
            font-weight: 200;
            font-size: 28px;
            margin-bottom: 25px;

            .icon {
                font-size: 35px;
                transform: translateX(-20px);
                display: inline-block;
            }
        }

        >.desc {
            color: $desc5;
            font-size: 29px;

            &:first-child {
                margin-bottom: 20px;
            }
        }

        .bottom_action {
            margin-top: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                color: $main;
                font-size: 48px;
                margin-left: 10px;
            }

            .info {
                p {
                    &.title {
                        font-size: 20px;
                        font-weight: 300;
                    }

                    &.en {
                        color: $desc4;
                        font-size: 19px
                    }
                }
            }
        }
    }

    .faq_items {
        .item {
            @include faq_item;
        }
    }
}